<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a href="www.spi.hr"><img src="./assets/logo.png"></a>
  <a class="navbar-brand" href="#">LC DatePicker</a>

</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">LC DatePicker</h1>
    <p>AngularJS date time picker component</p>
    <a href="https://github.com/LibusoftCicom/lc-datepicker" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">GitHub</a>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          DatePicker
        </div>
        <div class="card-block">
          <blockquote class="card-blockquote">
          </blockquote>
          <div class="input-group">
            <input type="text" class="form-control" #dateInput>
            <span class="input-group-btn">
            <button class="btn btn-secondary" type="button"  (click)="openCalendar()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
        </span>
          </div>
          <lc-datepicker #calendar [(opened)]="CalendarOpened" [config]="config" [(date)]="setDate"></lc-datepicker>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          Config Options
        </div>
        <div class="card-block">


          <div class="form-group">
            <blockquote class="card-blockquote col-12">
              <b>Localization:</b> 
              <br>
              ISO 639-1 language code from moment locales. Default: en
            </blockquote>
          </div>
          <div class="form-group">
            <select class="form-control col-sm-12" id="inlineFormCustomSelect" [(ngModel)]="Localization">
              <option selected value="en">English</option>
              <option value="fr">French</option >
              <option value="de">German</option >
              <option value="it">Italian</option >
              <option value="ja">Japanese</option >
              <option value="pt">Portuguese</option >
              <option value="ru">Russian</option >
              <option value="hr">Croatian</option >
            </select>
          </div>
          <hr>


          <div class="form-group">
            <blockquote class="card-blockquote col-12">
              <b>Calendar type:</b>
            </blockquote>
          </div>
          <div class="form-group">
            <select class="form-control col-sm-12" id="inlineFormCustomSelect" [(ngModel)]="CalendarType">
              <option [attr.value]="0">Time picker</option >
              <option [attr.value]="1">DateTime picker</option>
              <option selected [attr.value]="2">Date picker</option >
              <option [attr.value]="3">Month picker</option>
              <option [attr.value]="4">Year picker</option >
            </select>
          </div>
          <hr>



          <div class="form-group ">
            <blockquote class="card-blockquote col-12">
              <b>Output format:</b> 
              <br>
              Accepts any string format supported by Moment JS. Default: ISO string
            </blockquote>
          </div>
          <div class="form-group">
            <input type="text" class="form-control col-sm-12 col-lg-12" [(ngModel)]="Format">
          </div>
          <hr>



          <div class="form-group ">
            <blockquote class="card-blockquote col-12">
              <b>Confirm label:</b> 
              <br>
              Label on confirm button. Default: OK
            </blockquote>
          </div>
          <div class="form-group">
            <input type="text" class="form-control col-sm-12 col-lg-12" [(ngModel)]="ConfirmLabel">
          </div>
          <hr>


          <div class="form-group ">
            <blockquote class="card-blockquote col-12">
              <b>Color theme:</b>
            </blockquote>
          </div>
          <div class="form-group row">
            <label for="lgFormGroupInput" class="col-4 col-form-label">Primary color:</label>
            <input type="text" class="form-control col-sm-8 col-lg-8" [(ngModel)]="PrimaryColor">
          </div>
          <div class="form-group row">
            <label for="lgFormGroupInput" class="col-4 col-form-label">Font color:</label>
            <input type="text" class="form-control col-sm-8 col-lg-8" [(ngModel)]="FontColor">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          Methodes
        </div>
        <div class="card-block">
          <blockquote class="card-blockquote">
          </blockquote>
          <button type="button" class="btn btn-secondary btn-block" (click)="openCalendar()">Toggle</button>
          <button type="button" class="btn btn-secondary btn-block" (click)="clearCalendar()">Clear</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">Description</h3>
    <div class="card-block">
      <p class="card-text">Pure Angular date and time picker component.</p>
      <div><ul>
        <li>LC DatePicker is an Angular component that generates a datepicker calendar on your input element</li>
        <li>Compatible with Angular 2 and Angular 4 versions</li>
        <li>Only dependency is MomentJS and Font Awesome</li>
        <li>Customizable the date format and language</li>
        <li>Can be configured as time, date-time, date, month or year picker</li>
      </ul></div>
    </div>
  </div>
  <br>

  <div class="card">
    <h3 class="card-header">Getting Started</h3>
    <div class="card-block">
      <p class="card-text">
        <ol>
          <li>Fork and clone this repo</li>
          <li>npm install</li>
          <li>Open a terminal and type "npm serve"</li>
          <li>Open "http://localhost:4200" to browser</li>
        </ol>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">Installation</h3>
    <div class="card-block">
      <p>To install this component to an external project, follow the procedure:</p>
      <p class="card-text">
        <ol>
          <li><code>npm install libusoftcicom/lc-datepicker</code></li>
          <li><code>import &#123;LCDatePickerComponent&#125; from '@libusoftcicom/lc-datepicker';</code></li>
          <li>Use the following snippet inside your template:
            <code>&lt;lc-datepicker [(opened)]="CalendarOpened" [config]="config" [(date)]="setDate"&gt;&lt;/lc-datepicker&gt;</code>
          </li>
        </ol>
    </div>
  </div>

  <div class="card">
    <h3 class="card-header">Contributing</h3>
    <div class="card-block">
      <p class="card-text">
        Want to file a bug, contribute some code, or improve documentation? Excellent! Read up on our <a href="https://github.com/LibusoftCicom/lc-datepicker/blob/master/CONTRIBUTING.md">contributing guide</a> and <a href="https://github.com/LibusoftCicom/lc-datepicker/blob/master/CODE_OF_CONDUCT.md">code of conduct</a> and then check out one of our <a href="https://github.com/LibusoftCicom/lc-datepicker/issues">issues</a>.</p>
    </div>
  </div>

  <hr> 
  <footer>
    <p>&copy; Libusoft Cicom 2017</p>
  </footer>
</div>
<!-- /container -->

